@charset "UTF-8";
.veg-list {
    margin-top: 0!important
}

/* .banner-list {
    background: url(../images/list/banner-list.jpg) 50% 0 no-repeat;
    height: 122px
} */

.banner-slide {
    position: relative
}

.banner-slide .main-nav {
    position: relative;
    z-index: 3;
    padding: 10px 0;
    color: #fff;
    min-height: 90px;
}
.banner-slide  .bg-navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: 1;
}
.banner-slide .main-nav h1.d-flex {
    margin: 0 ; 
    font-size: 50px;
    font-weight: 700;
    padding: 20px 28px;
    border: 2px solid #ffffff ; 
}
.banner-slide .main-nav h1.nav-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}
.banner-slide .main-nav a {
    color: #fff;
    margin: 0 10px;
    line-height: 20px;
    font-size: 14px;
}

.cart-page {
    padding: 20px 0;
}
.cart-page .cart-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 40px 0; 
    color: #000000;
}
.cart-page label {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #333333;
}
.cart-page input {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
}
.cart-page input::placeholder,
.cart-page input,
.cart-page select,
.cart-page select option {
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    appearance: none;
    height: 44px;
}
.cart-page .list-cart-popup-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    max-width: 460px;
}

.cart-page .list-cart-popup-item .cart-popup-item {
    padding: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-bottom: 1px solid #E5E5E5;
}

.cart-page .list-cart-popup-item a.cart-popup-img {
    flex: 0 0 116px;
    max-width: 116px;
}

.cart-page .list-cart-popup-item a.del-cart {
    align-self: flex-start;
    margin-right: 20px;
}

.cart-page .list-cart-popup-item a.del-cart i {
    font-size: 18px;
    color: #a9a6a6;
}
.cart-page .cart-total-info {
    padding: 21px 25px;
    background: #F3F3F3;
    font-weight: 600;
    min-height: 66px;
}
.cart-page .cart-total-info .total-cart-price {
    font-size: 20px;
    line-height: 24px;
    color: #E84848;
    padding: 5px;
}
.cart-page .button-submit {
    background: #FF7E36;
    border-radius: 5px;
    border: 1px solid transparent;
    outline : none; 
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    transition : 0.3s ease-in-out ;
    min-width: 200px;
    min-height : 50px;
}
.cart-page .button-submit:hover {
    background-color: #fff;
    color : #FF7E36;
    border-color: #FF7E36;
}

@media (max-width: 767px) {
    .cart-page .cart-title {
        margin: 20px 0 ;
        font-size: 18px;
    }
    .cart-page .list-cart-popup-item .cart-popup-item {
        padding: 8px 4px ; 
    }
    .cart-page .list-cart-popup-item a.cart-popup-img {
        flex: 0 0 80px;
        max-width: 80px;
    }
    .cart-page .cart-total-info {
        padding: 15px 8px ; 
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .cart-page .cart-popup-info div {
        font-size : 16px;
    }
}